<mat-form-field>
    <input matInput (click)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="computerCounter">
    <small>Total number of computer brands: {{total_rows}}</small>
  </div>
  
  <mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8" align="center">
    <!-- Name Column -->
    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element._id}} </mat-cell>
    </ng-container>
  
    <!-- Genre Column -->
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  