<!-- Computer Form -->
<mat-card>
  <form class="form" [formGroup]="computerForm">
    <div class="row">
      <div class="col">

        <!-- Brand -->
        <mat-form-field>
          <input matInput type="text" placeholder="Brand" formControlName="brand">
        </mat-form-field>

        <!-- Model -->
        <mat-form-field>
          <input matInput type="text" placeholder="Model" formControlName="model">
        </mat-form-field>

        <!-- Processor -->
        <mat-form-field>
          <input matInput type="text" placeholder="Processor" formControlName="processor">
        </mat-form-field>

        <!-- Processor Speed -->
        <mat-form-field>
          <input matInput type="number" placeholder="Processor Speed" formControlName="processor_speed">
        </mat-form-field>

        <!-- Screen Size -->
        <mat-form-field>
          <input matInput type="number" placeholder="Screen Size" formControlName="screen_size">
        </mat-form-field>

        <!-- Screen Resolution -->
        <mat-form-field>
          <input matInput type="text" placeholder="Screen Resolution" formControlName="screen_resolution">
        </mat-form-field>

        <!-- RAM -->
        <mat-form-field>
          <input matInput type="number" placeholder="RAM" formControlName="ram">
        </mat-form-field>
      </div>

      <div class="col">
        <!-- HDD-->
        <mat-form-field>
          <input matInput type="number" placeholder="HDD" formControlName="hdd">
        </mat-form-field>

        <!-- SSD -->
        <mat-form-field>
          <input matInput type="number" placeholder="SSD" formControlName="ssd">
        </mat-form-field>

        <!-- Graphics Card -->
        <mat-form-field>
          <input matInput type="text" placeholder="Graphics Card" formControlName="graphics_card">
        </mat-form-field>

        <!-- Operating System -->
        <mat-form-field>
          <input matInput type="text" placeholder="Operating System" formControlName="operating_system">
        </mat-form-field>

        <h4>Available Location</h4>
        <span formGroupName="available_location">
          <!-- Stock -->
          <mat-form-field>
            <input matInput type="number" placeholder="Stock" formControlName="stock">
          </mat-form-field>

          <!-- Street -->
          <mat-form-field>
            <input matInput type="text" placeholder="Street" formControlName="street">
          </mat-form-field>

          <!-- City -->
          <mat-form-field>
            <input matInput type="text" placeholder="City" formControlName="city">
          </mat-form-field>

          <!-- Country -->
          <mat-form-field>
            <input matInput type="text" placeholder="Country" formControlName="country">
          </mat-form-field>
        </span>
      </div>

    </div>

    <br>

    <!-- Create Computer Button-->
    <button mat-raised-button color="primary" type="submit" (click)="createComputer()" [disabled]="!computerForm.valid"
      *ngIf="!computerId">Submit</button>

    <!-- Update Computer Button-->
    <button mat-raised-button color="primary" type="submit" (click)="updateComputer()" [disabled]="!computerForm.valid"
      *ngIf="computerId">Update</button>
  </form>
</mat-card>
