<mat-form-field>
    <input matInput (click)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="computerCounter">
    <small>Total number of computers: {{total_rows}}</small>
  </div>
  
  <mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8" align="center">
    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.brand}} </mat-cell>
    </ng-container>
  
    <!-- Model Column -->
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
    </ng-container>
  
    <!-- Processor Column -->
    <ng-container matColumnDef="processor">
      <mat-header-cell *matHeaderCellDef> Processor </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.processor}} </mat-cell>
    </ng-container>
  
    <!-- Processor Speed Column -->
    <ng-container matColumnDef="processor_speed">
      <mat-header-cell *matHeaderCellDef> Processor Speed </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.processor_speed}} </mat-cell>
    </ng-container>
  
    <!-- Screen Size Column -->
    <ng-container matColumnDef="screen_size">
      <mat-header-cell *matHeaderCellDef> Screen Size </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.screen_size}} </mat-cell>
    </ng-container>
  
    <!-- Screen Resolution Column -->
    <ng-container matColumnDef="screen_resolution">
      <mat-header-cell *matHeaderCellDef> Scrren Resolution </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.screen_resolution}} </mat-cell>
    </ng-container>
  
    <!-- RAM Column -->
    <ng-container matColumnDef="ram">
      <mat-header-cell *matHeaderCellDef> RAM </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ram}} </mat-cell>
    </ng-container>
  
    <!-- HDD Column -->
    <ng-container matColumnDef="hdd">
      <mat-header-cell *matHeaderCellDef> HDD </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.hdd}} </mat-cell>
    </ng-container>
  
    <!-- SSD Column -->
    <ng-container matColumnDef="ssd">
      <mat-header-cell *matHeaderCellDef> SSD </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ssd}} </mat-cell>
    </ng-container>
  
    <!-- Graphics Card Column -->
    <ng-container matColumnDef="graphics_card">
      <mat-header-cell *matHeaderCellDef> Graphics Card </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.graphics_card}} </mat-cell>
    </ng-container>
  
    <!-- Operating System Column -->
    <ng-container matColumnDef="operating_system">
      <mat-header-cell *matHeaderCellDef> Operating System </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.operating_system}} </mat-cell>
    </ng-container>
  
    <!-- Stock Column -->
    <ng-container matColumnDef="stock">
      <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.available_location?.stock}} </mat-cell>
    </ng-container>
  
    <!-- Street Column -->
    <ng-container matColumnDef="street">
      <mat-header-cell *matHeaderCellDef> Street </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.available_location?.street}} </mat-cell>
    </ng-container>
  
    <!-- City Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.available_location?.city}} </mat-cell>
    </ng-container>
  
    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.available_location?.country}} </mat-cell>
    </ng-container>
  
  
    <!-- Update button-->
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" routerLink="/updatecomputer/{{element._id}}">Update</button>
      </mat-cell>
    </ng-container>
  
    <!-- Delete button-->
    <ng-container matColumnDef="remove">
      <mat-header-cell *matHeaderCellDef> Remove </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="removeComputer(element._id)">Remove</button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  