<div class="headerContainer">
  <h3>
    Computer Database
  </h3>
  <button mat-raised-button color="primary" class="headerButton" routerLink="/createcomputer">Create Computer</button>
  <button mat-raised-button color="primary" class="headerButton" routerLink="/viewcomputers">View Computers</button>
  <button mat-raised-button color="primary" class="headerButton" routerLink="/computerbrands">Computer Brands</button>
</div>
